:root {
    --primary: #297373;
    --primary-dark: #225a5a;
    --primary-light: #b8dada;
    --gray: #ced4da;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 80px;
}

p {
    margin-bottom: 0;
}

footer {
    background-color: var(--primary);
    color: white;
}


/* Background */

.bg-primary {
    background-color: var(--primary) !important;
    color: white;
}


/* Header  */

.navbar {
    background-color: var(--primary);
}

.navbar-brand {
    color: white;
    font-size: 24px;
}

.navbar-brand:hover {
    color: white;
}

.header-collapse-dropdown {
    display: none !important;
}


/* Buttons */

.btn-primary {
    background-color: var(--primary);
    border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: var(--primary-dark);
}

.btn-no-bg {
    background-color: none;
    color: white;
}

.btn-no-bg:hover {
    background-color: white;
    color: var(--primary);
}


/* Card */

.card-header {
    background-color: var(--primary);
    color: white;
}


/* Link */

a,
.primary-link {
    color: var(--primary);
    text-decoration: none;
}

a:hover,
.primary-link:hover {
    color: var(--primary);
}


/* Home Link Items */

.link-item {
    width: 180px;
}


/* Dropdown */

.dropdown-item:active {
    background-color: var(--primary);
}

.form-control:focus,
.form-control:active,
.btn:focus,
.btn:active {
    border: 1px solid var(--gray);
    box-shadow: none;
    outline: 0 none;
}


/* Colors */

.text-white {
    color: white;
}

.text-primary {
    color: var(--primary) !important;
}


/* Avatars */

.avatar-xs {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.avatar-small {
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.avatar-profile {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.button-in-stretched-link {
    position: relative;
    z-index: 99;
}


/* LIKE BUTTON */

.liked {
    color: var(--primary);
}

.like-button {
    position: relative;
    z-index: 100;
}

.like-button:hover {
    color: var(--primary);
}

.login-container {
    max-width: 300px;
}


/* POSTS */

.profile-card-data {
    font-size: 12px;
}

.post-content {
    min-height: 200px;
}

.post-reply {
    background-color: var(--primary-light);
}


/* PROFILE */

.profile-list-item {
    cursor: pointer;
}

.active-profile,
.profile-list-item:hover {
    background-color: var(--primary);
    color: white;
}

.activity-container {
    background-color: white;
}


/* PAGINATION */

.page-link,
.page-link:hover {
    color: var(--primary);
}

.page-item.active .page-link {
    background-color: var(--primary) !important;
    border-color: var(--primary);
}

#goToPageButtonTop,
#goToPageButtonBottom {
    position: relative;
}

.goToPageContainerTop,
.goToPageContainerBottom {
    display: none;
    position: absolute;
    width: 120px;
    top: 45px;
    background-color: white;
    z-index: 999;
}

@media only screen and (max-width: 768px) {
    .login-buttons {
        flex-direction: column;
    }
    .btn-no-bg:hover {
        background-color: var(--primary);
        color: white;
    }
    .home-item-2 {
        display: none !important;
    }
    .login-container {
        width: 90%;
    }
    .header-collapse-main {
        display: none !important;
    }
    .header-collapse-dropdown {
        display: flex !important;
        flex-direction: column;
    }
    .activity-content {
        max-width: 100%;
    }
    .profile-avatar-xs {
        display: none;
    }
    .profile-card-data {
        display: none;
    }
    .post-container {
        flex-direction: column;
    }
    .post-profile-card {
        display: flex;
        width: 100%;
    }
    .profile-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 1rem;
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .pagination-sort-container {
        flex-direction: column;
    }
    .pagination-sort-container nav {
        margin-bottom: 0.5rem;
    }
}